body {
  background-color: black;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 0 0 10px rgba(red, green, blue, alpha);
  z-index: 9999;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* body {
    background: black;
   } */

.logo {
  margin: 1px;
  border: 1px solid black;
  width: 229px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.mic {
  position: absolute;
  align-items: center;
  right: 33%;
  bottom: -107px;
  width: 415px; 
}
