.speaker-homepage-background {
    height: 100vh;
    width: 100%;
    background-color: black;
    text-align: center;
}


.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
} 
.background img {
    position: absolute;
    z-index: 1;
    top: 3vh;
    left: 2vw;
    width: 235px;
    height: 80px;
}
.video {
    position: absolute;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
}

.mike {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    right: 35vw;
    position: absolute;
    bottom: -5vh;
    height: 77vh;
    width: 300px;
}


.animation {
    text-align: center;
    /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
    color: #555;
    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 50px;
    padding-top: 40vh;
    height: 100vh;
    overflow: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
}

.speaker-title {
    color: #00000056;
    letter-spacing: 5px;
}

.animation div {
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
}

.animation div span {
    margin-left: -355px;
    animation: slidein 4s 1 forwards;
    z-index: 10;
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
        visibility: visible;
        animation-play-state: paused;
    }
}
.boxcontent{
    position: relative;

    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 765px) {
    .mike {
        right: 0;
    }
    .logo {
        height: 100px;
        width: 285px;
        top: 35px;
    }
}

@media only screen and (width: 320px) {
    .logo {
        top: 4vh;
        height: 80px;
        width: 235px;
    }
}

.speak_heading {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.speak_heading > span {
    color: #e62b1e;
}

.title {
    border-radius: 0 50px 0 50px;
    margin: auto;
    position: absolute;
    top: 45vh;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
	background-color: rgba(0, 0, 0, 0.075); /* Black w/opacity/see-through */
}
.title_head{
    text-transform: uppercase;
    color: red;
}
.title_desc {
    margin-top: 20px;
}

@media screen and (max-width:730px) 
{
    .title {
        transform: scale(0.7);
    }
}
