.paymentButton{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px auto;
}

.box {
    background-color: rgba(37, 37, 37, 0.664);
    margin: 60px 20px;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}

.heading{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

.button{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
