.speaker-homepage-background {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.video {
    position: relative;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
}

.mike {
    position: relative;
    bottom: 57vh;
    align-items: center;
    height: 50vh;
}


/* .logo {
    display: flex;
    position: relative;
    bottom: 1010px;
    left: 0;
} */