.wrap {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.social {
    font-size: 1.2em;
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #abc;
}

a {
    position: relative;
    top: 30px;
    margin: 0 10px;
}

a:hover {
    top: 5px;
}

.fb {
    color: #1877f2;
}

.tw {
    color: #1da1f2;
}

.yt {
    color: #ff0000;
}

.ig {
    color: #c32aa3;
}

.li {
    color: #0a66c2;
}