/* theme-page */

.theme {
    width: 100%;
    padding: 80px 25px;
    /* background-color: #191919; */
    background-color: black;
}

.theme img {
    height: auto;
    width: 420px;
}

.theme-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.theme h2 {
    color: rgb(255, 42, 5);
    font-size: 60px;
    text-transform: capitalize;
    /* padding: 50px 600px; */
    margin: auto;
    padding-bottom: 75px;
}

.theme-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: rgb(255, 42, 5);
}

.theme-text p {
    color: rgba(255, 255, 255, 0.705);
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 20px;
}

.theme_btn {
    background: rgb(255, 42, 5);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: small;
    padding: 15px 30px;
    border-radius: 30px;
    transition: .4s;
}

.theme_btn:hover {
    background: transparent;
    border: 2px solid rgb(255, 42, 5);
    cursor: pointer;
}

@media (max-width: 950px) {

    .main {
        flex-direction: column;
        padding: 30%;
    }

    .theme {
        padding: 80px 5px;
    }

    .main {
        padding: 2px;
    }
} 