.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container form {
    width: 670px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: none;
    backdrop-filter: blur(30px);
    flex-wrap: wrap;
  }
  .container form h1 {
    color: #ff0000;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;
  }
  .container form input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  .container form input::placeholder {
    color: #fff;
  }
  .container form #lastName,
  .container form #mobile {
    margin-left: 20px;
  }
  .container form h4 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
  }
  .container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
  }
  .container form h4 {
    font-size: 20px;
  }
  .container form #button {
    border: none;
    background: #ff0000; ;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    color: white;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
  }
  
  .container form #button:hover{
      background: #000;
      color: #ff0000;
      cursor: pointer;
      transition: .5s ease-in-out;
  }