.main-wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    /* justify-content: space-between; */
    padding: 1rem 1.5rem;
    border: 0.15rem solid ivory;
    width: 100%;
    height: 10rem;
   
    }


    .date{
        border-right: 0.15rem solid ivory;
        padding-right: 1.3rem;
        
      }
      .location{
        padding-top: 2rem;
        padding-left:1.3rem ;
      }